body {
    font-family: 'Poppins', sans-serif;
    background-color: #eeeff5;
    overflow-x: hidden;
}

.navbar {
    background-color: #2B2D42;
    overflow: hidden;
    height: 63px;
}

.navbar a {
    float: left;
    display: block;
    color: #eeeff5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 5s;
}

.navbar ul {
    margin: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover {
    color: #8eaecc;
    font-size: 20px;
}

.friend-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8D99AE;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.friend-nav a {
    text-decoration: none;
    font-size: 22px;
    color: #eeeff5;
    display: block;
    transition: 0.3s;
}

.friend-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.friend {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    ;
}

.friend-icon {
    align-self: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 10px;
}

.friend-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.friend-name {
    margin-top: 15px;
    margin-left: 10px;
}

.friend-textbox {
    color: #eeeff5;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 13px;
}

.page-heading {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.friend-btn {
    font-size: 20px;
    text-align: center;
    justify-self: flex-start;
    border-radius: 50px;
    border-style: hidden;
    background: #EF233C;
    color: #eeeff5;
    padding: 5px 10px;
    margin: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}


/* BODY SECTION */

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
}


/* news feed container */

.container {
    width: 350px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;
}

.img-container img {
    width: 100%;
    height: 200px;
    border-radius: 4px 4px 0px 0px;
}

.content-container {
    padding: 10px 20px;
    background-color: whitesmoke;
}

h1 {
    font-size: 24px;
}

h2 {
    background: #D90429;
    width: 80px;
    font-size: 8px;
    padding: 5px;
    color: #eeeff5;
    text-align: center;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
}

p {
    color: grey;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02rem;
    line-height: 1.3rem;
    margin-bottom: 30px;
}

.card-footer {
    position: absolute;
    color: #a3a9ab;
    font-size: 15px;
}

.icon-comment a {
    margin-left: 10px;
    color: #a3a9ab;
    transition: 0.5s;
}

.icon-comment:hover a {
    color: #EF233C;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

.btn {
    border-radius: 3px;
    background: #EF233C;
    color: #eeeff5;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
}

.btn:hover {
    background: #D90429;
}


/* like button */

#like-btn {
    transition: 0.5s;
}


/* new post */

.notes-wrapper .saver-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

*,
*:before,
*:after,
h2,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}

*:focus,
*:before:focus,
*:after:focus,
h2:focus,
p:focus {
    outline: none;
}

.notes-wrapper {
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    z-index: 999;
}

.notes-wrapper .saver-wrap {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
}

.notes-wrapper .saver-wrap .notes-dot {
    width: 10px;
    height: 10px;
    background-color: #d1d3d6;
    border-radius: 50px;
    transition: 0.1s ease-in-out;
}

.notes-wrapper .saver-wrap .notes-dot.saved {
    background-color: #66cc8f;
    transition: 0.1s ease-in-out;
    transition-delay: 2.1s;
}

.notes-wrapper .saver-wrap .rest {
    transform: scale(0);
    clip: rect(0, 30px, 30px, 15px);
    height: 30px;
    width: 30px;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
}

.notes-wrapper .saver-wrap .rest.active {
    -webkit-animation: animate 1.05s linear 2;
    animation: animate 1.05s linear 2;
}

.notes-wrapper .saver-wrap .rest.active:after {
    -webkit-animation: animate2 1.05s linear 2;
    animation: animate2 1.05s linear 2;
}

.notes-wrapper .saver-wrap .rest:after {
    transform: scale(0);
    clip: rect(0, 30px, 30px, 15px);
    content: "";
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
}

.notes-wrapper .title {
    padding: 25px 30px;
    padding-right: 60px;
    font-weight: 600;
    color: #000c2f;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
}

.notes-wrapper .content {
    padding: 10px 30px;
    padding-bottom: 15px;
    font-weight: 400;
    color: #666d82;
    line-height: 1.4;
    font-size: 14px;
}

.notes-wrapper .content span.bold {
    font-weight: 700;
}

.notes-wrapper .content img {
    width: 90%;
    border-radius: 5px;
    margin: 15px 5%;
}

.notes-wrapper .line {
    width: 95%;
    margin: 0 auto;
    height: 1px;
    background-color: #ccced5;
}

.notes-wrapper .comment {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 13px;
    color: #999eac;
    position: relative;
}

.notes-wrapper .getImg {
    width: 150px;
    height: 150px;
    position: absolute;
    color: #999eac;
    bottom: 0;
    right: 0px;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.notes-wrapper .getImg:hover {
    color: #D90429;
}

c .notes-wrapper .getImg .material-icons {
    line-height: 60px;
    color: #999eac;
}

@-webkit-keyframes animate {
    0% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    100% {
        transform: scale(1);
        transform: rotate(220deg);
    }
}

@keyframes animate {
    0% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    100% {
        transform: scale(1);
        transform: rotate(220deg);
    }
}

@-webkit-keyframes animate2 {
    0% {
        box-shadow: inset #d1d3d6 0 0 0 2px;
        transform: rotate(-140deg);
    }
    100% {
        box-shadow: inset #d1d3d6 0 0 0 2px;
        transform: rotate(140deg);
    }
}

@keyframes animate2 {
    0% {
        box-shadow: inset #d1d3d6 0 0 0 2px;
        transform: rotate(-140deg);
    }
    100% {
        box-shadow: inset #d1d3d6 0 0 0 2px;
        transform: rotate(140deg);
    }
}


/* MEDIA QUERIES */

@media(max-width:568px) {
    .navbar-nav {
        display: none
    }
}

@media(min-width:568px) {
    /*.open-slide{display:none}*/
}
